body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-template-areas: "w" "p" "tf" "as" "dc"; }
  @media (min-width: 720px) {
    body {
      height: 100vh;
      -ms-grid-columns: ([col-start] 1fr)[6];
          grid-template-columns: repeat(6, [col-start] 1fr);
      -ms-grid-rows: 25% 25% 25% 25%;
          grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "w w w p p p" "w w w p p p" "w w w p p p" "w w w tf as dc"; } }
  @media (min-width: 1030px) {
    body {
      -ms-grid-columns: ([col-start] 1fr)[6];
          grid-template-columns: repeat(6, [col-start] 1fr);
      -ms-grid-rows: 25% 25% 25% 25%;
          grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "w w w p p p" "w w w p p p" "w w w p p p" "w w w tf as dc"; } }
  @media (min-width: 1280px) {
    body {
      -ms-grid-columns: ([col-start] 1fr)[6];
          grid-template-columns: repeat(6, [col-start] 1fr);
      -ms-grid-rows: 25% 25% 25% 25%;
          grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "w w w p p p" "w w w p p p" "w w w p p p" "w w w tf as dc"; } }

#tf {
  grid-area: tf;
  background: orange; }

#as {
  grid-area: as;
  background: black; }

#dc {
  background: green;
  grid-area: dc; }

#work {
  position: relative;
  grid-area: w;
  background: #f89631; }
  #work .particles-js-canvas-el {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

#personal {
  grid-area: p;
  background: red; }

.main-section {
  -webkit-transition: width 200ms;
  transition: width 200ms;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main-section > header {
    text-align: center;
    padding: 10px;
    color: white; }
  .main-section > article {
    display: none; }

.show-personal #personal.main-section > article,
.show-work #work.main-section > article {
  display: block; }
