body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] 1fr)[6];
      grid-template-columns: repeat(6, [col-start] 1fr);
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  height: 100vh;
  grid-template-areas: "w w w p p p" "w w w p p p" "w w w p p p" "w w w tf as dc"; }

#tf {
  grid-area: tf;
  background: orange; }

#as {
  grid-area: as;
  background: black; }

#dc {
  background: green;
  grid-area: dc; }

#work {
  grid-area: w;
  background: blue;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/philadelphia-skyline-at-night-black-and-white-bw-jon-holiday.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten; }

#personal {
  grid-area: p;
  background: red; }

.main-section {
  -webkit-transition: width 200ms;
  transition: width 200ms;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .main-section > header {
    text-align: center;
    padding: 10px;
    color: white; }
    .main-section > header h1 {
      font-size: 3vmax; }
    .main-section > header p {
      font-size: 1.5vmax; }
  .main-section > article {
    display: none; }

.show-personal #personal.main-section > article,
.show-work #work.main-section > article {
  display: block; }
