/*
Variables

$enable-fluid-type - enable fluid type

Styleguide 1.1
*/

$enable-fluid-type: false !default;
$enable-css-variables: false !default;
$enable-e-link-growing-underline: false !default;
$enable-responsive-debug: false !default;
$enable-focus-debug: false !default; 
$enable-structure-debug: false !default; 
$enable-bootstrap-3-debug: false !default;
$enable-healthcheck: false !default; 
