<header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="awesome-guy">Scott<br>Weiss</div>
                    <div class="title">
                        <div class="title__for">For</div>
                        <div class="title__your">Your</div>
                        <div class="title__information">Information</div>
                    </div>

                </div>
            </div>
        </div>
</header>