body {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  grid-template-rows: 25% 25% 25% 25%;
  height: 100vh;
  grid-template-areas:
    "w w w p p p"
    "w w w p p p"
    "w w w p p p"
    "w w w tf as dc";
  &.show-personal {
    #work {
      
    }
    #personal {
  
    }
    // grid-template-areas:
    //   "p p p p"
    //   "p p p p"
    //   "p p p p"
    //   "p p p p";
  }
  &.show-work {
    #work {
    
    }
    #personal {
  
    }
    // grid-template-areas:
    //   "w w w w"
    //   "w w w w"
    //   "w w w w"
    //   "w w w w";
  }
}
#tf{
   grid-area: tf;
  background: orange;
}
#as{
   grid-area: as;
  background: black;
}
#dc{
  background: green;
   grid-area: dc;
}
#work {

  grid-area: w;
  background: blue;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/philadelphia-skyline-at-night-black-and-white-bw-jon-holiday.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}
#personal {
  grid-area: p;
  background: red;

}
.main-section {
  transition: width 200ms;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  > header {
    text-align: center;
    padding: 10px;
    color: white;

    h1 {
      font-size: 3vmax;
    }
    p {
      font-size: 1.5vmax;
    }
  }
  > article {
    display: none;
  }
}
.show-personal #personal.main-section > article,
.show-work #work.main-section > article {
  display: block;
}
