<!doctype html>
<html class="no-js" lang="">
   {% include html-head.html %}
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="awesome-guy">Scott<br>Weiss</div>
                    <div class="title">
                        <div class="title__for">For</div>
                        <div class="title__your">Your</div>
                        <div class="title__information">Information</div>
                    </div>

                </div>
            </div>
        </div>
        </header>
       {{  content  }}

       {% include footer.html %}
        {% include js.html %}
       
    </body>
</html>